.main__text{
    height: 700px;
    background-image: url('../../images/illustration-working.svg');
    background-repeat: no-repeat;
    background-position: 120%;
    // background-size: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
    padding-left: 10%;

    button{
        width: 260px;
    }

    & > div{
        width: 50%;
    }

    .head{
        font-size: 5rem;
    }

    .content{
        width: 70%;
        font-size: 1.2rem;
        line-height: 2;
    }
}