@import '../../style/variables.scss';

.form__panel{
    width: 80%;
    height: 9rem;
    background-image: url('../../images/bg-shorten-desktop.svg');
    background-color: $dark-violet;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: translateY(-50%);
    padding-inline: 4rem;

    form{
        height: 3.7rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        position: relative;
    }

    button{
        border-radius: 10px;
        padding: .8rem 1.8rem;
        flex-grow: 1;
        max-width: 17%;
    }

    input{
        border-radius: 10px;
        height: 100%;
        border: none;
        outline: none;
        flex-grow: 12;
        padding-left: 2rem;

        &::placeholder{
            color: $grayish-violet;
        }
    }
}

.error{
    outline: 1px solid $red !important;
    color: $red !important;

    &::placeholder{
        color: $red !important;
    }
}

.error__text{
    color: $red;
    position: absolute;
    bottom: -50%;
}