@import '../../style/variables.scss';

header{
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10%;
    gap: 5%;

    .menu{
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 376px) {
    header{
        min-height: 100px;
    }
}