@import '../../style/variables.scss';

header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr 1.5fr;
    padding-top: 4rem;
    padding-inline: 10%;

    .logo{
        height: 35px;
        justify-self: start;
        align-self: center;
        // scale: 1.4;

        img{
            height: 100%;
        }
    }
}