@import '../../style/variables.scss';

.short-link{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    display: grid;
    padding: 1.5rem;
    grid-template-rows: 1fr;
    grid-template-columns: auto 25% 15%;
    gap: 2rem;
    transform: translateY(-40%);

    button{
        border-radius: 10px;
        padding: .8rem 1.8rem;
    }

    .full{
        align-self: center;
        font-size: 1.3rem;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
    }

    .short {
        justify-self: end;
        align-self: center;
        color: $cyan;
        font-size: 1.3rem;
    }

    .copied{
        background-color: $dark-violet !important;
    }
}

@media (max-width: 376px) {
    .short-link{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        min-height: 9rem;
        height: 10rem;
        width: 330px;
        padding: 1rem;
        
            
        &::after{
            content: '';
            background-color: $gray;
            display: block;
            height: 1px;
            width: 330px;
            position: absolute;
            left: 0;
            top: 3rem;
        }

        .full{
            align-self: start;
            font-size: 1rem;
        }
    
        .short {
            align-self: start;
            font-size: 1rem;
        }

        button{
            line-height: .7;
        }
    }
}
